<!DOCTYPE html>
<html lang="en">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - HTH</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class = "header">
        <div class = "image" id = "image">
            <img src = "https://hacktheheights.org/img/hthlogo.png" width = 100% height = 100%>
        </div>
        <div class = "title">
            <h2>Insert Title Here</h2>
        </div>
    </div>
    <nav>
        <a href="#">HTH</a>
        <a href="#">About</a>
    </nav>
    <hr>
    <form method="POST">
        <input name="text">
        <input type="Submit">
    </form>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>