{% extends 'base.html' %}

{% block content %}

<html>
    
    <body>
        <div class="timeline">
            {% for date in dates %}
                {% if loop.index % 2 == 0 %}
                    <div class="container left">
                        <div class="dateleft">{{ date }}</div>
                        <i class="icon fa fa-home"></i>
                        <div class="content">
                        <h2>{{ content1[loop.index - 1] }}</h2>
                        <p>
                            {{ content2[loop.index - 1] }}
                        </p>
                        </div>
                    </div>     
                {% else %}
                    <div class="container right">
                        <div class="dateright">{{ date }}</div>
                        <i class="icon fa fa-home"></i>
                        <div class="content">
                        <h2>{{ content1[loop.index - 1] }}</h2>
                        <p>
                            {{ content2[loop.index - 1] }}
                        </p>
                        </div>
                    </div>     
                {% endif %}
            {% endfor %}        
        </div>

    </body>

</html>

{% endblock %}